@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/Icomoon/icomoon.woff') format('woff'),
    url('../fonts/Icomoon/icomoon.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@import '../css/normalize.css';

* {
    font-family: 'Gilroy';
    color: #383334;
}

body {
    background: #F3F6FA;
    height: 100%;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page {
    min-height: 100%;
}
.container {
    padding: 0 130px;
    display: flex;
    align-self: center;
    justify-content: center;
}
.top {
    padding: 30px 0;
    height: 100%;
    &__image {
        flex: 0 0 36%;
        margin: 0 20px 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
        }
    }
    &__content {
        flex: 0 0 64%;
    }
}
.content-top {
    &__title {
        font-weight: 500;
        font-size: 50px;
        line-height: 59px;
        span {
            font-weight: bold;
            font-size: 70px;
            color: #FC2763;
            margin: 0 0 40px 0;
        }
    }
    &__list {
        list-style-type: none;
        counter-reset: number;
        padding: 0;
        margin: 0 0 38px 0;
    }
    &__li {
        font-size: 18px;
        line-height: 22px;
        padding: 0 0 0 40px;
        margin: 0 0 30px 0;
        position: relative;
        span {
            font-weight: bold;
        }
        &::before {
            content: counter(number);
            counter-increment: number;
            font-weight: 300;
            font-size: 36px;
            line-height: 42px;
            color: #FC2763;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
        }
    }
    &__discount {
        display: flex;
        border-top: 1px solid #D0D6DE;
        border-bottom: 1px solid #D0D6DE;
    }
    &__number {
        display: flex;
        padding: 30px 0;
        align-items: center;
        span {
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 70px;
            font-weight: 300;
            font-size: 48px;
            color: #FC2763;
            border: 2px solid #FC2763;
            border-radius: 6px;
            margin: 0 30px 0 0;
        }
        p {
            flex: 0 0 auto;
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
            margin: 0;
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__buttons {
        height: 70px;
        flex: 0 1 72%;
        border: 2px solid #FC2763;
        border-radius: 100px;
        position: relative;
        padding: 0;
        margin: 0 20px 0 0;
    }
    &__call {
        color: #383334;
        font-size: 18px;
        line-height: 21px;
        span {
            color: #8D97A4;
        }
    }
    @media (max-height: 725px) {
        &__title {
            font-size: 36px;
            line-height: 42px;
            span {
                font-size: 54px;
                margin: 0 0 30px 0;
            }
        }
        &__list {
            margin: 0 0 30px 0;
        }
        &__li {
            font-size: 16px;
            line-height: 20px;
            margin: 0 0 15px 0;
            &::before {
                font-size: 26px;
                line-height: 22px;
            }
        }
        &__number {
            padding: 20px 0;
            span {
                width: 40px;
                height: 40px;
                font-size: 28px;
            }
            p {
                font-size: 14px;
                line-height: 16px;
            }
        }
        &__buttons {
            height: 50px;
        }
        &__call {
            font-size: 16px;
            line-height: 19px;
        }
    }
}
.discount {
    &__price {
        flex: 0 0 36%;
        padding: 20px 20px 20px 0;
        display: flex;
        align-items: center;
        position: relative;
        &::after {
            content: '';
            width: 1px;
            height: 51%;
            background: #D0D6DE;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
        }
        p {
            margin: 0;
        }
    }
    &__now {
        padding: 20px 0 20px 20px;
        font-size: 15px;
        line-height: 18px;
        display: flex;
        align-items: center;
    }
    @media (max-height: 725px) {
        &__price {
            padding: 15px 15px 15px 0;
        }
        &__now {
            padding: 15px 0 15px 15px;
            font-size: 14px;
            line-height: 17px;
        }
    }
}
.price {
    &__number {
        margin: 0 20px 0 0;
    }
    &__text {
        font-size: 15px;
        line-height: 17px;
        color: #8D97A4;
    }
    @media (max-height: 725px) {
        &__number {
            margin: 0 15px 0 0;
        }
        &__text {
            font-size: 14px;
            line-height: 16px;
        }
    }
}
.number {
    &__old { 
        margin: 0 0 5px 0;
        span {
            font-size: 16px;
            padding: 0;
            position: relative;
            &::after {
                content: '';
                width: 105%;
                height: 1px;
                background: #FC2763;
                position: absolute;
                top: 5px;
                left: 0;
                transform: rotate(15deg);
                z-index: 1;
            }
        }
    }
    &__new {
        font-weight: 300;
        font-size: 15px;
        line-height: 17px;
        span {
            font-weight: bold;
            font-size: 28px;
            line-height: 34px;
            color: #FC2763;
        }
    }
    @media (max-height: 725px) {
        &__old { 
            span {
                font-size: 14px;
            }
        }
        &__new {
            font-size: 14px;
            line-height: 16px;
            span {
                font-size: 22px;
                line-height: 28px;
            }
        }
    }
}
.now {
    &__text {
        max-width: 319px;
        margin: 0 20px;
        span {
            font-weight: bold;
        }
    }
    &__image {
        overflow: hidden;
        height: auto;
        &:first-child {
            flex: 0 1 58px;
        }
        &:last-child {
            flex: 0 1 34px;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    @media (max-height: 725px) {
        &__text {
            margin: 0 15px;
        }
    }
}
.btn {
    height: 100%;
    width: 50%;
    position: absolute;
    border-radius: 100px;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    top: 0;
    padding: 0 10px;
    white-space: nowrap;
    z-index: 1;
    transition: all .1s ease-in 0s;
    &:hover {
        width: 100%;
        z-index: 2;
    }
    &_buy {
        color: #FFFFFF;
        background: #FC2763;
        left: 0;
    }
    &_write {
        color: #383334;
        background: #F3F6FA;
        right: 0;
    }
}




  
.icon-wallet:before {
    content: "\e903";
}
.icon-spoon:before {
    content: "\e904";
}
.icon-paper-bag:before {
    content: "\e905";
}
.icon-door-handle:before {
    content: "\e906";
}
.icon-cosmetics:before {
    content: "\e907";
}
.icon-baby-bottle:before {
    content: "\e908";
}