@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/Icomoon/icomoon.woff') format('woff'),
    url('../fonts/Icomoon/icomoon.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@import '../css/normalize.css';

* {
    font-family: 'Gilroy';
    color: #383334;
}

html {
    height: 100%;
}
body {
    background: #F3F6FA;
    height: 100%;
}
.wrapper {
    min-height: 100%;
    opacity: 0;
    transition: opacity 2s ease 0s;
}
.wrapper._loaded {
    opacity: 1;
}
.page {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    @media (max-width: 768px), (max-height: 475px) {
        position: static;
        height: auto;
        min-height: 100%;
    }
}
.page__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    @media (max-width: 768px), (max-height: 475px) {
        display: block;
        height: auto;
    }
}
.section {
    flex: 1 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px), (max-height: 475px) {
        flex: 0 0 auto;
    }
}
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
//==================================================
.title-section {
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    @media (max-height: 900px) {
        font-size: 30px;
        line-height: 40px;
    }
    @media (max-height: 600px) {
        font-size: 24px;
        line-height: 28px;
    }
}
.number {
    display: flex;
    padding: 30px 0;
    margin: 0;
    align-items: center;
    span {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        font-weight: 300;
        font-size: 48px;
        border: 2px solid #FC2763;
        border-radius: 6px;
        margin: 0 30px 0 0;
    }
    p {
        flex: 0 0 auto;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        margin: 0;
    }
    @media (max-height: 900px) {
        padding: 20px 0;
        span {
            width: 40px;
            height: 40px;
            font-size: 28px;
        }
        p {
            font-size: 14px;
            line-height: 16px;
        }
    }
    @media (max-height: 600px) {
        span {
            width: 30px;
            height: 30px;
            font-size: 20px;
        }
    }
}
.buttons {
    border: 2px solid #FC2763;
    border-radius: 100px;
    position: relative;
    padding: 0;
    height: 70px;
    width: 558px;
    flex: 0 0 558px;
    @media (max-height: 900px) {
        height: 50px;
    }
    @media (max-height: 600px) {
        height: 40px;
    }
    @media (max-width: 790px) {
        height: auto;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.btn {
    height: 100%;
    width: 50%;
    position: absolute;
    border-radius: 100px;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    top: 0;
    padding: 0 10px;
    white-space: nowrap;
    z-index: 1;
    transition: all .1s ease-in 0s;
    &:hover {
        width: 100%;
        z-index: 2;
    }
    &_buy {
        color: #FFFFFF;
        background: #FC2763;
        left: 0;
    }
    &_write {
        right: 0;
    }
    @media (max-width: 790px) {
        height: 70px;
        position: static;
        &_buy {
            margin: 0 0 10px 0;
        }
        &_write {
            border: 2px solid #FC2763;
        }
    }
}
.call {
    font-size: 18px;
    line-height: 21px;
    @media (max-height: 900px) {
        font-size: 16px;
        line-height: 19px;
    }
    @media (max-height: 600px) {
        font-size: 14px;
        line-height: 16px;
    }
}
.footer {
    width: 100%;
    background: #DAE2ED;
    padding: 60px 0 24px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    transition: all .3s linear;
    &.active {
        opacity: 1;
        z-index: 1;
    }
    &__body {
        width: 100%;
        max-width: 1230px;
        padding: 0 20px;
        margin: 0 auto;
        display: grid;
        grid-template-rows: 70px 17px;
        row-gap: 40px;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__number {
        flex: 0 0 auto;
    }
    &__buttons {
        margin: 0 20px 0 20px;
    }
    &__call {
        flex: 0 0 auto;
    }
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        &_write {
            background: #DAE2ED;
        }
    }
    &__contacts {
        display: flex;
    }
    &__email, &__address, &__documents, &__policy, &__personal {
        font-style: normal;
        font-size: 15px;
        line-height: 17px;
    }
    &__email {
        margin: 0 24px 0 0;
    }
    &__policy, &__personal {
        position: relative;
        &:before {
            content: '';
            height: 1px;
            width: 100%;
            background: #8D97A4;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
    @media (max-height: 900px) {
        padding: 15px 0 18px 0;
        &__body {
            grid-template-rows: 50px 17px;
            row-gap: 12px;
        }
        &__email, &__address, &__documents, &__policy, &__personal {
            font-size: 12px;
            line-height: 14px;
        }
    }
    @media (max-width: 768px), (max-height: 475px) {
        position: static;
    }
}
.pink {
    color: #FC2763;
}
.grey {
    color: #8D97A4;
}
//==================================================
.form {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transform: translate(0, -100%);
    opacity: 0;
    transition: all .4s linear 0s;
    &.active {
        transform: translate(0, 0);
        opacity: 1;
    }
    &__cover {
        background: rgba(255, 255, 255, .5);
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
    }
    &__body {
        width: 680px;
        background: #FC2763;
        padding: 60px 100px 60px 100px;
        border-radius: 6px;
        position: relative;
        z-index: 12;
    }
    &__exit {
        width: 36px;
        height: 36px;
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
        &:before, &:after {
            content: '';
            width: 36px;
            height: 3px;
            background: #DF1F55;
            position: absolute;
            top: 18px;
        }
        &:before {
            left: 0;
            transform: rotate(45deg);
        }
        &:after {
            right: 0;
            transform: rotate(-45deg);
        }
    }
    &__title {
        font-weight: bold;
        font-size: 50px;
        line-height: 60px;
        color: #FFFFFF;
        margin: 0 0 30px 0;
    }
    &__items {
        padding: 50px 50px 50px 50px;
        background: #DF1F55;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        margin: 0 0 30px 0;
    }
    &__input {
        width: 100%;
        color: #FFFFFF;
        font-size: 15px;
        line-height: 17px;
        background: transparent;
        padding: 3px 1px 15px 1px;
        border: none;
        border-bottom: 1px solid white;
        &::placeholder {
            color: #FFFFFF;
        }
        &:-webkit-autofill, &:focus:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 100px #DF1F55 inset;
            -webkit-text-fill-color: white;
        }
        &:first-child {
            margin: 0 0 34px 0;
        }
    }
    &__button {
        width: 280px;
        height: 70px;
        background: #FFEEF3;
        border-radius: 100px;
        font-weight: bold;
        font-size: 15px;
        color: #383334;
        transition: background .2s ease-in 0s, color .2s ease-in 0s;
        &:hover {
            background: #941237;
            color: white;
        }       
    }
    @media (max-height: 900px) {
        &__body {
            width: 600px;
            padding: 30px 70px 40px 70px;
        }
        &__title {
            font-size: 30px;
            line-height: 35px;
            margin: 0 0 20px 0;
        }
        &__items {
            padding: 30px 50px 30px 50px;
            margin: 0 0 20px 0;
        }
        &__input {
            font-size: 14px;
            line-height: 16px;
        }
        &__button {
            width: 230px;
            height: 50px;
            font-size: 14px;     
        }
    }
    @media (max-height: 600px) {
        &__body {
            width: 550px;
            padding: 20px 60px 30px 60px;
        }
        &__title {
            font-size: 24px;
            line-height: 26px;
        }
        &__items {
            padding: 20px 30px 20px 30px;
        }
        &__button {
            width: 200px;
            height: 40px;    
        }
    }
}
//==================================================
.top {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
        position: relative;
    }
    &__virus {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &__image {
        flex: 0 0 380px;
        margin: 0 20px 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    &__img {
        width: 100%;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
        }
        &._animate {
            animation: disinfector 1s linear .2s forwards;
        }
    }
    &__light {
        height: 110vh;
        position: absolute;
        top: 50%;
        right: 190px;
        overflow: hidden;
        transform: translate(0, -50%);
        &._animate {
            animation: light 5s linear 0s forwards;
        }
    }
    &__body {
        flex: 0 1 auto;
    }
    @media (max-height: 500px) {
        &__image {
            flex: 0 0 290px;
        }
        &__light {
            right: 150px;
        }
    }
    @media (max-width: 980px) {
        &__image {
            flex: 0 0 230px;
        }
    }
    @media (max-width: 760px) {
        &__image {
            flex: 0 0 180px;
        }
    }
}
.virus {
    &__image {
        position: absolute;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
        }
        &:first-child {
            width: 50px;
            height: 48px;
            top: 5%;
            left: 3%;
        }
        &:nth-child(2) {
            width: 54px;
            height: 54px;
            top: 68%;
            left: 8%;
            z-index: -1;
        }
        &:nth-child(3) {
            width: 50px;
            height: 48px;
            top: 30%;
            right: 0%;
            transform: rotate(45deg);
        }
        &:nth-child(4) {
            width: 36px;
            height: 35px;
            top: 94%;
            left: 20%;
            transform: rotate(90deg);
        }
        &:nth-child(5) {
            width: 28px;
            height: 27px;
            top: 6%;
            left: 38%;
            z-index: 3;
        }
        &:nth-child(6) {
            width: 87px;
            height: 83px;
            top: 95%;
            left: 57%;
            z-index: 3;
        }
        &:nth-child(7) {
            width: 114px;
            height: 109px;
            top: 42%;
            left: 18%;
            z-index: -1;
        }
        &:nth-child(8) {
            width: 47px;
            height: 45px;
            top: 28%;
            left: 49%;
            z-index: -1;
        }
        &:nth-child(9) {
            width: 20px;
            height: 20px;
            top: 2%;
            right: 12%;
        }
        &:nth-child(10) {
            width: 50px;
            height: 48px;
            top: 69%;
            right: 18%;
        }
    }
    &._animate {
        .virus__image {
            &:first-child {
                animation: virus_1 6s linear .1s forwards;
            }
            &:nth-child(2) {
                animation: virus_1 6s linear forwards;
            }
            &:nth-child(3) {
                animation: virus_2 6s linear .1s forwards;
            }
            &:nth-child(4) {
                animation: virus_2 6s linear forwards;
            }
            &:nth-child(5) {
                animation: virus_2 6s linear .1s forwards;
            }
            &:nth-child(6) {
                animation: virus_2 6s linear forwards;
            }
            &:nth-child(7) {
                animation: virus_1 6s linear.1s forwards;
            }
            &:nth-child(8) {
                animation: virus_2 6s linear forwards;
            }
            &:nth-child(9) {
                animation: virus_2 6s linear .1s forwards;
            }
            &:nth-child(10) {
                animation: virus_2 6s linear forwards;
            }
        } 
    }
    @media (max-height: 900px) {
        &__image {
            &:nth-child(6) {
                width: 50px;
                height: 48px;
                top: 92%;
            }
        }
    }
}
.body-top {
    &__title {
        font-weight: 500;
        font-size: 50px;
        line-height: 59px;
        span {
            font-weight: bold;
            font-size: 70px;
            margin: 0 0 40px 0;
        }
    }
    &__list {
        list-style-type: none;
        counter-reset: number;
        padding: 0;
        margin: 0 0 38px 0;
    }
    &__li {
        font-size: 18px;
        line-height: 22px;
        padding: 0 0 0 40px;
        margin: 0 0 30px 0;
        position: relative;
        span {
            font-weight: bold;
        }
        &::before {
            content: counter(number);
            counter-increment: number;
            font-weight: 300;
            font-size: 36px;
            line-height: 42px;
            color: #FC2763;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
        }
    }
    &__discount {
        display: flex;
        border-top: 1px solid #D0D6DE;
        border-bottom: 1px solid #D0D6DE;
    }
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__buttons {
        margin: 0 20px 0 0;
        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            &_write {
                background: #F3F6FA;
            }
        }
    }
    &__call {
        z-index: 1;
    }
    @media (max-height: 900px), (max-width: 1000px) {
        &__title {
            font-size: 36px;
            line-height: 42px;
            span {
                font-size: 54px;
                margin: 0 0 30px 0;
            }
        }
        &__list {
            margin: 0 0 30px 0;
        }
        &__li {
            font-size: 16px;
            line-height: 20px;
            margin: 0 0 15px 0;
            &::before {
                font-size: 26px;
                line-height: 28px;
            }
        }
    }
    @media (max-height: 600px) {
        &__title {
            font-size: 30px;
            line-height: 35px;
            span {
                font-size: 40px;
                line-height: 48px;
                margin: 0 0 20px 0;
            }
        }
        &__list {
            margin: 0 0 20px 0;
        }
        &__li {
            font-size: 14px;
            line-height: 16px;
            margin: 0 0 12px 0;
            &::before {
                font-size: 18px;
                line-height: 20px;
            }
        }
    }
    @media (max-width: 1135px) {
        &__buttons {
            flex: 0 0 450px;
            margin: 0 0 15px 0;
        }
        &__call {
            display: none;
        }
    }
    @media (max-width: 790px) {
        &__title {
            font-size: 30px;
            line-height: 35px;
            span {
                font-size: 40px;
                line-height: 48px;
                margin: 0 0 30px 0;
            }
        }
        &__discount {
            border: none;
        }
    }
}
.discount {
    &__price {
        flex: 0 1 36%;
        padding: 20px 20px 20px 0;
        display: flex;
        align-items: center;
        position: relative;
        &::after {
            content: '';
            width: 1px;
            height: 51%;
            background: #D0D6DE;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
        }
        p {
            margin: 0;
        }
    }
    &__now {
        flex: 0 1 64%;
        padding: 20px 0 20px 20px;
        font-size: 15px;
        line-height: 18px;
        display: flex;
        align-items: center;
    }
    @media (max-height: 900px), (max-width: 1140px) {
        &__price {
            padding: 15px 15px 15px 0;
        }
        &__now {
            padding: 15px 0 15px 15px;
            font-size: 14px;
            line-height: 17px;
        }
    }
    @media (max-height: 600px) {
        &__price {
            padding: 10px 10px 10px 0;
        }
        &__now {
            padding: 10px 0 10px 10px;
        }
    }
    @media (max-width: 790px) {
        &__price {
            display: none;
        }
        &__now {
            font-size: 15px;
            line-height: 18px;
            padding: 10px 0;
            flex: 0 0 100%;
        }
    }
}
.price {
    &__value {
        margin: 0 20px 0 0;
    }
    &__text {
        font-size: 15px;
        line-height: 17px;
    }
    @media (max-height: 900px), (max-width: 1140px) {
        &__text {
            font-size: 14px;
            line-height: 16px;
        }
    }
}
.value-price {
    &__old { 
        margin: 0 0 5px 0;
        span {
            font-size: 16px;
            padding: 0;
            position: relative;
            &::after {
                content: '';
                width: 105%;
                height: 1px;
                background: #FC2763;
                position: absolute;
                top: 5px;
                left: 0;
                transform: rotate(15deg);
                z-index: 1;
            }
        }
    }
    &__new {
        font-weight: 300;
        font-size: 15px;
        line-height: 17px;
        span {
            font-weight: bold;
            font-size: 28px;
            line-height: 34px;
        }
    }
    @media (max-height: 900px) {
        &__old { 
            span {
                font-size: 14px;
            }
        }
        &__new {
            font-size: 14px;
            line-height: 16px;
            span {
                font-size: 22px;
                line-height: 28px;
            }
        }
    }
}
.now {
    &__text {
        max-width: 319px;
        margin: 0 20px;
        span {
            font-weight: bold;
        }
    }
    &__image {
        overflow: hidden;
        height: auto;
        &:first-child {
            flex: 0 1 58px;
        }
        &:last-child {
            flex: 0 1 34px;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    @media (max-height: 900px) {
        &__text {
            margin: 0 15px;
        }
    }
    @media (max-width: 1135px) {
        &__image {
            display: none;
        }
        &__text {
            margin: 0;
        }
    }
    @media (max-width: 790px) {
        &__text {
            max-width: 100%;
        }
    }
}
//==================================================
.disinfect {
    padding: 30px 0 211px 0;
    .container {
        flex-direction: column;
        justify-content: center;
    }
    &__title {
        align-self: flex-start;
        margin: 0 0 39px 0;
    }
    &__content {
        width: 100%;
        display: grid;
        grid-template: 1fr 1fr 1fr / 470px 470px;
        grid-auto-flow: column;
        column-gap: 10px;
        row-gap: 48px;
        align-content: space-between;
        justify-content: space-between;
    }
    @media (max-height: 900px) {
        padding: 20px 0 135px 0;
        &__title {
            margin: 0 0 29px 0;
        }
        &__content {
            row-gap: 10px;
        }
    }
    @media (max-height: 600px) {
        &__title {
            margin: 0 0 15px 0;
        }
        &__content {
            row-gap: 7px;
        }
    }
}
.content-disinfect {
    &__item {
        padding: 0 20px 0 70px;
        position: relative;
        &::before {
            font-family: 'icomoon';
            font-size: 40px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    @media (max-height: 900px) {
        &__item {
            padding: 0 20px 0 55px;
            &::before {
                font-size: 35px;
            }
        }
    }
    @media (max-height: 600px) {
        &__item {
            padding: 0 20px 0 45px;
            &::before {
                font-size: 30px;
            }
        }
    }
}
.item {
    &__title {
        font-weight: bold;
        font-size: 28px;
        line-height: 34px;
        margin: 0 0 10px 0;
    }
    &__text {
        font-size: 15px;
        line-height: 17px;
        margin: 0;
    }
    @media (max-height: 900px) {
        &__title {
            font-size: 22px;
            line-height: 28px;
        }
        &__text {
            font-size: 14px;
            line-height: 16px;
        }
    }
    @media (max-height: 600px) {
        &__title {
            font-size: 18px;
            line-height: 20px;
            margin: 0 0 7px 0;
        }
    }
}

.icon-wallet:before {
    content: "\e903";
}
.icon-spoon:before {
    content: "\e904";
}
.icon-paper-bag:before {
    content: "\e905";
}
.icon-door-handle:before {
    content: "\e906";
}
.icon-cosmetics:before {
    content: "\e907";
}
.icon-baby-bottle:before {
    content: "\e908";
}
//==================================================
.specifications {
    padding: 50px 0 230px 0;
    &__body {
        flex: 1 0 auto;
        margin: 0 50px 0 0;
        display: grid;
        grid-template-rows: 140px 1fr;
        row-gap: 50px;
    }
    &__illustration {
        flex: 0 0 40%;
        display: flex;
    }
    @media (max-height: 900px) {
        padding: 20px 0 135px 0;
        &__body {
            grid-template-rows: 100px 1fr;
            row-gap: 20px;
        }
    }
    @media (max-height: 600px) {
        &__body {
            row-gap: 10px;
        }
    }
}
.body-specifications {
    &__title {
        margin: 20px 0 0 0;      
    }
    &__box {
        width: 100%;
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr / minmax(auto, 316px) minmax(auto, 316px);
        grid-auto-flow: column;
        column-gap: 10px;
        row-gap: 30px;
        align-content: space-between;
        justify-content: space-between;
    }
    @media (max-height: 900px) {
        &__title {
            margin: 10px 0 0 0;
        }
        &__box {
            row-gap: 10px;
        }
    }
    @media (max-height: 600px) {
        &__title {
            margin: 0 0 0 0;
        }
    }
}
.feature {
    &__head {
        font-size: 15px;
        line-height: 17px;
        margin: 0 0 10px 0;
    }
    &__value {
        font-size: 18px;
        line-height: 21px;
        margin: 0;
    }
    @media (max-height: 900px) {
        &__head {
            font-size: 14px;
            line-height: 16px;
            margin: 0 0 6px 0;
        }
        &__value {
            font-size: 16px;
            line-height: 18px;
        }
    }
}
.illustration {
    &__image {
        flex: 0 1 150px;
        margin: 0 45px 0 0;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
        }
    }
    &__comment {
        flex: 0 1 280px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 5px;
        padding-bottom: 70px;
    }
    @media (max-height: 900px) {
        &__image {
            flex: 0 1 130px;
        }
    }
    @media (max-height: 600px) {
        &__image {
            flex: 0 1 90px;
        }
        &__comment {
            padding-bottom: 0;
        }
    }
}
.comment {
    &__p {
        font-size: 15px;
        line-height: 18px;
        margin: 0;
        display: grid;
        grid-template: 1fr / 1fr;
        align-items: end;
        position: relative;
        span {
            font-weight: bold;
        }
        &:before {
            content: '';
            width: 60px;
            height: 14px;
            position: relative;
            left: -60px;
            top: -14px;
            background: url('../img/line.svg') 0 0 / cover no-repeat;
        }
    }
    @media (max-height: 900px) {
        &__p {
            font-size: 14px;
            line-height: 16px;
        }
    }
}
//==================================================
@keyframes disinfector {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-15deg);
    }
}
@keyframes light {
    from {
        width: 0px;
        background: url('../img/light.png') 182px 50% / 0 100% no-repeat;
    }
    40% {
        width: 282px;
        background: url('../img/light.png') 182px 50% / 282px 100% no-repeat;
    }
    80% {
        width: 282px;
        background: url('../img/light.png') 182px 50% / 282px 100% no-repeat;
    }
    to {
        width: 0;
        background: url('../img/light.png') 182px 50% / 0 100% no-repeat;
    }
}
@keyframes virus_1 {
    from {
        transform: translate(2px, 0);
        opacity: 1;
    }
    2% {
        transform: translate(-2px, 0);
        opacity: 1;
    }
    4% {
        transform: translate(2px, 0);
        opacity: 1;
    }
    6% {
        transform: translate(-2px, 0);
        opacity: 1;
    }
    8% {
        transform: translate(2px, 0);
        opacity: 1;
    }
    10% {
        transform: translate(-2px, 0);
        opacity: 1;
    }
    12% {
        transform: translate(2px, 0);
        opacity: 1;
    }
    14% {
        transform: translate(-2px, 0);
        opacity: 1;
    }
    16% {
        transform: translate(2px, 0);
        opacity: 1;
    }
    18% {
        transform: translate(-2px, 0);
        opacity: 1;
    }
    20% {
        transform: translate(2px, 0);
        opacity: 1;
    }
    22% {
        transform: translate(-2px, 0);
        opacity: 1;
    }
    24% {
        transform: translate(2px, 0);
        opacity: 1;
    }
    26% {
        transform: translate(-2px, 0);
        opacity: 1;
    }
    to {
        transform: translate(-1000px, 0);
        opacity: 0;
    }
}
@keyframes virus_2 {
    from {
        transform: translate(2px, 0);
        opacity: 1;
    }
    2% {
        transform: translate(-2px, 0);
        opacity: 1;
    }
    4% {
        transform: translate(2px, 0);
        opacity: 1;
    }
    6% {
        transform: translate(-2px, 0);
        opacity: 1;
    }
    8% {
        transform: translate(2px, 0);
        opacity: 1;
    }
    10% {
        transform: translate(-2px, 0);
        opacity: 1;
    }
    12% {
        transform: translate(2px, 0);
        opacity: 1;
    }
    14% {
        transform: translate(-2px, 0);
        opacity: 1;
    }
    16% {
        transform: translate(2px, 0);
        opacity: 1;
    }
    18% {
        transform: translate(-2px, 0);
        opacity: 1;
    }
    20% {
        transform: translate(2px, 0);
        opacity: 1;
    }
    22% {
        transform: translate(-2px, 0);
        opacity: 1;
    }
    24% {
        transform: translate(2px, 0);
        opacity: 1;
    }
    26% {
        transform: translate(-2px, 0);
        opacity: 1;
    }
    to {
        transform: translate(1000px, 0);
        opacity: 0;
    }
}