@import url(../css/normalize.css);
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/Icomoon/icomoon.woff") format("woff"), url("../fonts/Icomoon/icomoon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
* {
  font-family: 'Gilroy';
  color: #383334; }

html {
  height: 100%; }

body {
  background: #F3F6FA;
  height: 100%; }
  body.lock {
    overflow: hidden; }

.wrapper {
  min-height: 100%;
  opacity: 0; }
  .wrapper._loaded {
    -webkit-animation: wrapper .5s linear 0.2s forwards;
            animation: wrapper .5s linear 0.2s forwards; }

.page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden; }
  @media (max-width: 768px), (max-height: 570px) {
    .page {
      position: static;
      min-height: 100%; } }

.page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%; }
  @media (max-width: 768px), (max-height: 570px) {
    .page__wrapper {
      display: block; } }

.section {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (max-width: 768px), (max-height: 570px) {
    .section {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto; } }

.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .container_mob {
    display: none; }
  @media (max-width: 768px) {
    .container_mob {
      display: block;
      margin-top: 50px; } }

.title-section {
  font-weight: bold;
  font-size: 50px;
  line-height: 60px; }
  @media (max-height: 900px) and (min-width: 769px) {
    .title-section {
      font-size: 30px;
      line-height: 40px; } }
  @media (max-height: 570px), (max-width: 768px) {
    .title-section {
      font-size: 40px;
      line-height: 48px;
      margin: 0 0 50px 0 !important; } }
  @media (max-width: 460px) {
    .title-section {
      font-size: 26px;
      line-height: 28px;
      margin: 0px 0 30px 0; } }

.number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .number span {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 70px;
    height: 70px;
    font-weight: 300;
    font-size: 48px;
    border: 2px solid #FC2763;
    border-radius: 6px;
    margin: 0 30px 0 0; }
  .number p {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    margin: 0; }
  @media (max-height: 900px), (max-width: 820px) {
    .number {
      padding: 20px 0; }
      .number span {
        width: 40px;
        height: 40px;
        font-size: 28px; }
      .number p {
        font-size: 14px;
        line-height: 16px; } }
  @media (max-height: 600px) {
    .number span {
      width: 30px;
      height: 30px;
      font-size: 20px; } }
  @media (max-width: 768px) {
    .number {
      padding: 0;
      margin: 0 0 30px 0; }
      .number span {
        width: 70px;
        height: 70px;
        font-size: 48px;
        margin: 0 30px 0 0; }
      .number p {
        font-size: 15px;
        line-height: 18px; } }
  @media (max-width: 460px) {
    .number span {
      width: 35px;
      height: 35px;
      font-size: 22px;
      margin: 0 10px 0 0; }
    .number p {
      font-size: 14px;
      line-height: 16px; } }

.buttons {
  border: 2px solid #FC2763;
  border-radius: 100px;
  position: relative;
  padding: 0;
  height: 70px;
  width: 558px; }
  @media (max-height: 900px) {
    .buttons {
      height: 50px; } }
  @media (max-width: 768px) {
    .buttons {
      height: auto;
      border: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.btn {
  height: 66px;
  width: 50%;
  position: absolute;
  border-radius: 100px;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  top: 0;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  z-index: 1;
  -webkit-transition: all .1s ease-in 0s;
  transition: all .1s ease-in 0s; }
  .btn:hover {
    width: 100%;
    z-index: 2; }
  .btn_buy {
    color: #FFFFFF;
    background: #FC2763;
    left: 0; }
  .btn_write {
    right: 0; }
  @media (max-height: 900px) {
    .btn {
      height: 46px; } }
  @media (max-width: 768px) {
    .btn {
      width: 100%;
      position: static; }
      .btn_buy {
        margin: 0 0 10px 0; }
      .btn_write {
        border: 2px solid #FC2763; } }

.call {
  font-size: 18px;
  line-height: 21px; }
  @media (max-height: 900px) {
    .call {
      font-size: 16px;
      line-height: 19px; } }
  @media (max-height: 600px) {
    .call {
      font-size: 14px;
      line-height: 16px; } }

.footer {
  width: 100%;
  background: #DAE2ED;
  padding: 60px 0 24px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear; }
  .footer.active {
    opacity: 1;
    z-index: 1; }
  .footer__body {
    width: 100%;
    max-width: 1230px;
    padding: 0 20px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 40px; }
  .footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer__number {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding: 0; }
  .footer__buttons {
    margin: 0 20px 0 20px; }
  .footer__call {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto; }
  .footer .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer .btn_write {
      background: #DAE2ED; }
  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer__email, .footer__address, .footer__documents, .footer__policy, .footer__personal {
    font-style: normal;
    font-size: 15px;
    line-height: 17px; }
  .footer__email {
    margin: 0 24px 0 0; }
  .footer__policy, .footer__personal {
    position: relative;
    white-space: nowrap; }
    .footer__policy:before, .footer__personal:before {
      content: '';
      height: 1px;
      width: 100%;
      background: #8D97A4;
      position: absolute;
      left: 0;
      bottom: 0; }
  @media (max-height: 900px) {
    .footer {
      padding: 15px 0 18px 0; }
      .footer__body {
        row-gap: 12px; }
      .footer__email, .footer__address, .footer__documents, .footer__policy, .footer__personal {
        font-size: 12px;
        line-height: 14px; } }
  @media (max-width: 1060px) {
    .footer__number span {
      margin: 0 10px 0 0; }
    .footer__buttons {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 450px;
              flex: 0 0 450px;
      width: 450px;
      margin: 0 10px 0 10px; } }
  @media (max-width: 970px) {
    .footer {
      padding: 15px 0 10px 0; }
      .footer__body {
        display: block; }
      .footer__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        margin: 0 0 10px 0; }
        .footer__row:first-child {
          display: grid;
          grid-template-columns: 1fr 1fr;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
      .footer__buttons {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 70px;
                flex: 0 0 70px; }
      .footer__number {
        margin: 0 0 10px 0; }
      .footer__contacts {
        margin: 0 0 10px 0; } }
  @media (max-width: 768px), (max-height: 570px) {
    .footer {
      position: static;
      opacity: 1;
      z-index: 1; }
      .footer__row:first-child {
        grid-template-columns: 1fr;
        justify-items: center; }
      .footer__row:last-child {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      .footer__buttons {
        margin: 0 0 10px 0; } }
  @media (max-width: 700px) {
    .footer__buttons {
      width: 100%; } }

.pink {
  color: #FC2763; }

.grey {
  color: #8D97A4; }

.form {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  opacity: 0;
  -webkit-transition: all .4s linear 0s;
  transition: all .4s linear 0s; }
  .form.active {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }
  .form__cover {
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0; }
  .form__body {
    width: 680px;
    background: #FC2763;
    padding: 60px 100px 60px 100px;
    border-radius: 6px;
    position: relative;
    z-index: 12; }
  .form__exit {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer; }
    .form__exit:before, .form__exit:after {
      content: '';
      width: 36px;
      height: 3px;
      background: #DF1F55;
      position: absolute;
      top: 18px; }
    .form__exit:before {
      left: 0;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .form__exit:after {
      right: 0;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .form__title {
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    margin: 0 0 30px 0; }
  .form__items {
    padding: 50px 50px 50px 50px;
    background: #DF1F55;
    border-radius: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 30px 0; }
  .form__input {
    width: 100%;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 17px;
    background: transparent;
    padding: 3px 1px 15px 1px;
    border: none;
    border-bottom: 1px solid white; }
    .form__input::-webkit-input-placeholder {
      color: #FFFFFF; }
    .form__input:-ms-input-placeholder {
      color: #FFFFFF; }
    .form__input::-ms-input-placeholder {
      color: #FFFFFF; }
    .form__input::placeholder {
      color: #FFFFFF; }
    .form__input:-webkit-autofill, .form__input:focus:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 100px #DF1F55 inset;
      -webkit-text-fill-color: white; }
    .form__input:first-child {
      margin: 0 0 34px 0; }
  .form__button {
    width: 280px;
    height: 70px;
    background: #FFEEF3;
    border-radius: 100px;
    font-weight: bold;
    font-size: 15px;
    color: #383334;
    -webkit-transition: background .2s ease-in 0s, color .2s ease-in 0s;
    transition: background .2s ease-in 0s, color .2s ease-in 0s; }
    .form__button:hover {
      background: #941237;
      color: white; }
  @media (max-height: 900px), (max-width: 700px) {
    .form__body {
      width: 600px;
      padding: 30px 70px 40px 70px; }
    .form__title {
      font-size: 30px;
      line-height: 35px;
      margin: 0 0 20px 0; }
    .form__items {
      padding: 30px 50px 30px 50px;
      margin: 0 0 20px 0; }
    .form__input {
      font-size: 14px;
      line-height: 16px; }
    .form__button {
      width: 230px;
      height: 50px;
      font-size: 14px; } }
  @media (max-height: 600px) {
    .form__exit {
      width: 30px;
      height: 30px;
      top: 20px;
      right: 20px; }
      .form__exit:before, .form__exit:after {
        content: '';
        width: 30px;
        height: 2px;
        top: 15px; }
    .form__body {
      width: 550px;
      padding: 20px 60px 30px 60px; }
    .form__title {
      font-size: 24px;
      line-height: 26px; }
    .form__items {
      padding: 20px 30px 20px 30px; }
    .form__button {
      width: 200px;
      height: 40px; } }
  @media (max-height: 400px), (max-width: 550px) {
    .form__exit {
      width: 30px;
      height: 30px;
      top: 20px;
      right: 20px; }
      .form__exit:before, .form__exit:after {
        content: '';
        width: 30px;
        height: 2px;
        top: 15px; }
    .form__body {
      padding: 15px 30px 20px 30px; }
    .form__title {
      font-size: 18px;
      line-height: 20px; }
    .form__items {
      padding: 15px 20px 15px 20px; }
    .form__input {
      font-size: 14px;
      line-height: 16px;
      padding: 3px 1px 10px 1px; }
      .form__input:first-child {
        margin: 0 0 20px 0; }
    .form__button {
      width: 150px; } }

.top {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .top .container {
    position: relative; }
  .top__virus {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .top__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 350px;
            flex: 0 0 350px;
    height: 100%;
    margin: 0 20px 0 0;
    position: relative;
    z-index: 2; }
  .top__img {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .top__img._animate {
      -webkit-animation: disinfector 1s linear .3s forwards;
              animation: disinfector 1s linear .3s forwards; }
    .top__img img {
      width: 100%;
      height: auto; }
    .top__img_mob {
      display: none; }
  .top__light {
    height: 140%;
    min-height: 200vh;
    position: absolute;
    top: 50%;
    right: 190px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    z-index: -1; }
    .top__light._animate {
      -webkit-animation: light 5s linear .4s forwards;
              animation: light 5s linear .4s forwards; }
  .top__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%; }
  @media (max-height: 900px) {
    .top__image {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 250px;
              flex: 0 0 250px; }
    .top__light {
      right: 130px; } }
  @media (max-height: 570px) {
    .top__image {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 200px;
              flex: 0 0 200px; }
    .top__light {
      right: 110px; } }
  @media (max-height: 570px) {
    .top {
      padding: 30px 0 70px 0; } }
  @media (max-width: 980px) {
    .top__image {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 230px;
              flex: 0 0 230px; }
    .top__light {
      right: 120px; } }
  @media (max-width: 768px) {
    .top {
      padding: 20px 0 70px 0; }
      .top__image {
        -ms-flex-item-align: end;
            align-self: flex-end;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 125px;
                flex: 0 0 125px;
        margin: 0 35px 0 0; }
      .top__img_d {
        position: absolute;
        opacity: 0;
        z-index: -1; }
      .top__img_mob {
        display: block; }
      .top__light {
        right: 45px; } }
  @media (max-width: 460px) {
    .top__image {
      position: absolute;
      opacity: 0;
      z-index: -1; } }

.virus__image {
  position: absolute;
  overflow: hidden; }
  .virus__image img {
    width: 100%;
    height: 100%; }
  .virus__image:first-child {
    width: 50px;
    height: 48px;
    top: 5%;
    left: 3%; }
  .virus__image:nth-child(2) {
    width: 54px;
    height: 54px;
    top: 68%;
    left: 8%;
    z-index: -1; }
  .virus__image:nth-child(3) {
    width: 50px;
    height: 48px;
    top: 30%;
    right: 0%; }
  .virus__image:nth-child(4) {
    width: 36px;
    height: 35px;
    top: 94%;
    left: 20%; }
  .virus__image:nth-child(5) {
    width: 28px;
    height: 27px;
    top: 6%;
    left: 38%;
    z-index: 3; }
  .virus__image:nth-child(6) {
    width: 87px;
    height: 83px;
    top: 95%;
    left: 57%;
    z-index: 3; }
  .virus__image:nth-child(7) {
    width: 114px;
    height: 109px;
    top: 42%;
    left: 18%;
    z-index: -1; }
  .virus__image:nth-child(8) {
    width: 47px;
    height: 45px;
    top: 28%;
    left: 49%;
    z-index: -1; }
  .virus__image:nth-child(9) {
    width: 20px;
    height: 20px;
    top: 2%;
    right: 12%; }
  .virus__image:nth-child(10) {
    width: 50px;
    height: 48px;
    top: 69%;
    right: 18%; }
.virus._animate {
  -webkit-animation: virus-cover 6.2s linear 0.3s forwards;
          animation: virus-cover 6.2s linear 0.3s forwards; }
  .virus._animate .virus__image:first-child {
    -webkit-animation: virus_1 6s linear .4s forwards;
            animation: virus_1 6s linear .4s forwards; }
  .virus._animate .virus__image:nth-child(2) {
    -webkit-animation: virus_1 6s linear .3s forwards;
            animation: virus_1 6s linear .3s forwards; }
  .virus._animate .virus__image:nth-child(3) {
    -webkit-animation: virus_2 6s linear .4s forwards;
            animation: virus_2 6s linear .4s forwards; }
  .virus._animate .virus__image:nth-child(4) {
    -webkit-animation: virus_2 6s linear .3s forwards;
            animation: virus_2 6s linear .3s forwards; }
  .virus._animate .virus__image:nth-child(5) {
    -webkit-animation: virus_2 6s linear .4s forwards;
            animation: virus_2 6s linear .4s forwards; }
  .virus._animate .virus__image:nth-child(6) {
    -webkit-animation: virus_2 6s linear .3s forwards;
            animation: virus_2 6s linear .3s forwards; }
  .virus._animate .virus__image:nth-child(7) {
    -webkit-animation: virus_2 6s linear 0.4s forwards;
            animation: virus_2 6s linear 0.4s forwards; }
  .virus._animate .virus__image:nth-child(8) {
    -webkit-animation: virus_2 6s linear .3s forwards;
            animation: virus_2 6s linear .3s forwards; }
  .virus._animate .virus__image:nth-child(9) {
    -webkit-animation: virus_2 6s linear .4s forwards;
            animation: virus_2 6s linear .4s forwards; }
  .virus._animate .virus__image:nth-child(10) {
    -webkit-animation: virus_2 6s linear .3s forwards;
            animation: virus_2 6s linear .3s forwards; }
@media (max-height: 900px) {
  .virus__image:nth-child(6) {
    width: 50px;
    height: 48px;
    top: 92%; } }

.body-top__title {
  font-weight: 500;
  font-size: 50px;
  line-height: 59px; }
  .body-top__title span {
    font-weight: bold;
    font-size: 70px;
    margin: 0 0 40px 0; }
.body-top__list {
  list-style-type: none;
  counter-reset: number;
  padding: 0;
  margin: 0 0 38px 0; }
.body-top__li {
  font-size: 18px;
  line-height: 22px;
  padding: 0 0 0 40px;
  margin: 0 0 30px 0;
  position: relative; }
  .body-top__li span {
    font-weight: bold; }
  .body-top__li::before {
    content: counter(number);
    counter-increment: number;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    color: #FC2763;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }
.body-top__discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #D0D6DE;
  border-bottom: 1px solid #D0D6DE; }
.body-top__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
.body-top__buttons {
  margin: 0 20px 0 0; }
  .body-top__buttons .btn_write {
    background: #F3F6FA; }
.body-top__call {
  z-index: 1; }
@media (max-width: 1160px) {
  .body-top__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .body-top__buttons {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: 0 0 15px 0; } }
@media (max-height: 900px), (max-width: 1100px) {
  .body-top__title {
    font-size: 36px;
    line-height: 42px; }
    .body-top__title span {
      font-size: 54px;
      margin: 0 0 30px 0; }
  .body-top__list {
    margin: 0 0 30px 0; }
  .body-top__li {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 15px 0; }
    .body-top__li::before {
      font-size: 26px;
      line-height: 28px; } }
@media (max-width: 900px) {
  .body-top__buttons {
    width: 100%; } }
@media (max-height: 600px) {
  .body-top__title {
    font-size: 30px;
    line-height: 35px; }
    .body-top__title span {
      font-size: 40px;
      line-height: 48px;
      margin: 0 0 20px 0; }
  .body-top__list {
    margin: 0 0 20px 0; }
  .body-top__li {
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 12px 0; }
    .body-top__li::before {
      font-size: 18px;
      line-height: 20px; } }
@media (max-width: 790px) {
  .body-top__title {
    font-size: 30px;
    line-height: 35px;
    margin: 0 0 30px 0; }
    .body-top__title span {
      font-size: 40px;
      line-height: 48px; }
  .body-top__discount {
    display: block;
    border: none; } }
@media (max-width: 768px) {
  .body-top__title {
    margin: 40px 0 30px 0; }
  .body-top__call {
    position: absolute;
    top: 0;
    left: 180px;
    font-size: 18px;
    line-height: 21px; } }
@media (max-width: 460px) {
  .body-top__title {
    font-size: 20px;
    line-height: 25px;
    margin: 30px 0 20px 0; }
    .body-top__title span {
      font-size: 30px;
      line-height: 38px; }
  .body-top__call {
    left: 20px; } }

.discount__price {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 36%;
          flex: 0 1 36%;
  padding: 20px 20px 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .discount__price::after {
    content: '';
    width: 1px;
    height: 51%;
    background: #D0D6DE;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }
  .discount__price p {
    margin: 0; }
.discount__now {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 64%;
          flex: 0 1 64%;
  padding: 20px 0 20px 20px;
  font-size: 15px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
@media (max-height: 900px), (max-width: 1140px) {
  .discount__price {
    padding: 15px 15px 15px 0; }
  .discount__now {
    padding: 15px 0 15px 15px;
    font-size: 14px;
    line-height: 17px; } }
@media (max-height: 600px) {
  .discount__price {
    padding: 10px 10px 10px 0; }
  .discount__now {
    padding: 10px 0 10px 10px; } }
@media (max-width: 790px) {
  .discount__now {
    font-size: 15px;
    line-height: 18px;
    padding: 10px 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; }
  .discount__price:after {
    display: none; } }
@media (max-width: 768px) {
  .discount__price {
    padding: 0;
    margin: 0 0 30px 0; } }

.price__value {
  margin: 0 20px 0 0; }
.price__text {
  font-size: 15px;
  line-height: 17px; }
@media (max-height: 900px), (max-width: 1140px) {
  .price__text {
    font-size: 14px;
    line-height: 16px; } }
@media (max-width: 790px) {
  .price__text {
    display: none; } }

.value-price__old {
  margin: 0 0 5px 0; }
  .value-price__old span {
    font-size: 16px;
    padding: 0;
    position: relative;
    z-index: 0; }
    .value-price__old span::after {
      content: '';
      width: 105%;
      height: 1px;
      background: #FC2763;
      position: absolute;
      top: 5px;
      left: 0;
      -webkit-transform: rotate(15deg);
              transform: rotate(15deg); }
.value-price__new {
  font-weight: 300;
  font-size: 15px;
  line-height: 17px; }
  .value-price__new span {
    font-weight: bold;
    font-size: 28px;
    line-height: 34px; }
@media (max-height: 900px) {
  .value-price__old span {
    font-size: 14px; }
  .value-price__new {
    font-size: 14px;
    line-height: 16px; }
    .value-price__new span {
      font-size: 22px;
      line-height: 28px; } }

.now__text {
  max-width: 319px;
  margin: 0 20px; }
  .now__text span {
    font-weight: bold; }
.now__image {
  overflow: hidden;
  height: auto; }
  .now__image:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 58px;
            flex: 0 1 58px; }
  .now__image:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 34px;
            flex: 0 1 34px; }
  .now__image img {
    width: 100%;
    height: auto; }
@media (max-height: 900px) {
  .now__text {
    margin: 0 10px; } }
@media (max-width: 930px) {
  .now__image {
    display: none; }
  .now__text {
    margin: 0 10px 0 0; } }
@media (max-width: 790px) {
  .now__text {
    max-width: 100%; } }

.disinfect {
  padding: 30px 0 211px 0; }
  .disinfect .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .disinfect__title {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 0 0 39px 0; }
  .disinfect__content {
    width: 100%;
    display: grid;
    grid-template: 1fr 1fr 1fr/repeat(2, minmax(150px, 470px));
    grid-auto-flow: column;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    row-gap: 48px;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .disinfect__buttons {
    display: none; }
  @media (max-height: 950px) and (min-width: 769px) {
    .disinfect {
      padding: 20px 0 135px 0; }
      .disinfect__title {
        margin: 0 0 29px 0; }
      .disinfect__content {
        row-gap: 10px; } }
  @media (max-height: 630px) and (min-width: 769px) {
    .disinfect__title {
      margin: 0 0 15px 0; }
    .disinfect__content {
      row-gap: 7px; } }
  @media (max-width: 910px) and (min-height: 571px) {
    .disinfect {
      padding: 20px 0 160px 0; } }
  @media (max-height: 570px), (max-width: 768px) {
    .disinfect {
      padding: 20px 0 0 0;
      margin: 0 0 30px 0; }
      .disinfect__buttons {
        display: block; }
      .disinfect__content {
        margin: 0 0 50px 0;
        row-gap: 20px; } }
  @media (max-width: 700px) {
    .disinfect__content {
      grid-template: repeat(6, auto)/minmax(150px, 400px);
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      row-gap: 40px; }
    .disinfect__buttons {
      width: 100%; } }
  @media (max-width: 460px) {
    .disinfect__content {
      row-gap: 30px; } }

.content-disinfect__item {
  padding: 0 20px 0 70px;
  position: relative; }
  .content-disinfect__item::before {
    font-family: 'icomoon';
    font-size: 40px;
    position: absolute;
    top: 0;
    left: 0; }
@media (max-height: 900px) {
  .content-disinfect__item {
    padding: 0 20px 0 55px; }
    .content-disinfect__item::before {
      font-size: 35px; } }
@media (max-height: 630px) {
  .content-disinfect__item {
    padding: 0 20px 0 45px; }
    .content-disinfect__item::before {
      font-size: 30px; } }
@media (max-height: 570px), (max-width: 768px) {
  .content-disinfect__item {
    padding: 0 20px 0 70px; }
    .content-disinfect__item::before {
      font-size: 40px; } }
@media (max-width: 460px) {
  .content-disinfect__item {
    padding: 0 20px 0 45px; }
    .content-disinfect__item::before {
      font-size: 30px; } }

.item__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  margin: 0 0 10px 0; }
.item__text {
  font-size: 15px;
  line-height: 17px;
  margin: 0; }
@media (max-height: 900px) and (min-width: 769px) {
  .item__title {
    font-size: 22px;
    line-height: 28px; }
  .item__text {
    font-size: 14px;
    line-height: 16px; } }
@media (max-height: 630px) and (min-width: 769px) {
  .item__title {
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 7px 0; } }
@media (max-height: 570px), (max-width: 768px) {
  .item__title {
    font-size: 28px;
    line-height: 34px;
    margin: 0 0 10px 0; }
  .item__text {
    font-size: 15px;
    line-height: 17px; } }
@media (max-width: 460px) {
  .item__title {
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 7px 0; } }

.icon-wallet:before {
  content: "\e903"; }

.icon-spoon:before {
  content: "\e904"; }

.icon-paper-bag:before {
  content: "\e905"; }

.icon-door-handle:before {
  content: "\e906"; }

.icon-cosmetics:before {
  content: "\e907"; }

.icon-baby-bottle:before {
  content: "\e908"; }

.specifications {
  padding: 50px 0 230px 0;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .specifications .container_mob {
    margin: 0; }
  .specifications__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    margin: 0 50px 0 0;
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 50px; }
  .specifications__illustration {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 475px;
            flex: 0 1 475px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  @media (max-height: 900px) {
    .specifications {
      padding: 20px 0 135px 0; }
      .specifications__body {
        row-gap: 20px; } }
  @media (max-height: 600px) {
    .specifications__body {
      row-gap: 10px; } }
  @media (max-height: 570px) {
    .specifications {
      padding: 30px 0 70px 0; } }
  @media (max-width: 970px) {
    .specifications__body {
      margin: 0 30px 0 0; } }
  @media (max-width: 768px), (max-height: 570px) {
    .specifications {
      padding: 50px 0 90px 0; }
      .specifications .container {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; }
      .specifications__body {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 auto;
                flex: 0 1 auto; }
      .specifications__illustration {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 335px;
                flex: 0 0 335px; } }
  @media (max-width: 768px) {
    .specifications__illustration {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 135px;
              flex: 0 0 135px; } }
  @media (max-width: 460px) {
    .specifications__illustration {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 0px;
              flex: 0 0 0px; } }

.body-specifications__title {
  margin: 20px 0 0 0; }
.body-specifications__box {
  width: 100%;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr/repeat(2, auto);
  grid-auto-flow: column;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 30px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
@media (max-height: 900px) and (min-width: 769px) {
  .body-specifications__title {
    margin: 10px 0 0 0; }
  .body-specifications__box {
    row-gap: 10px; } }
@media (max-height: 600px) and (min-width: 769px) {
  .body-specifications__title {
    margin: 0 0 0 0; } }
@media (max-width: 700px) {
  .body-specifications__box {
    grid-template: repeat(8, auto)/auto; } }

.feature__head {
  font-size: 15px;
  line-height: 17px;
  margin: 0 0 10px 0; }
.feature__value {
  font-size: 18px;
  line-height: 21px;
  margin: 0; }
@media (max-height: 900px), (max-width: 970px) {
  .feature__head {
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 6px 0; }
  .feature__value {
    font-size: 16px;
    line-height: 18px; } }
@media (max-width: 768px), (max-height: 570px) {
  .feature__head {
    font-size: 15px;
    line-height: 17px;
    margin: 0 0 10px 0; }
  .feature__value {
    font-size: 18px;
    line-height: 21px; } }

.illustration__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
  margin: 0 45px 0 0;
  overflow: hidden; }
  .illustration__image img {
    width: 100%;
    height: auto; }
.illustration__comment {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 280px;
          flex: 0 1 280px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 5px;
  padding-bottom: 70px; }
@media (max-height: 900px) and (min-width: 841px) {
  .illustration__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 130px;
            flex: 0 0 130px; } }
@media (max-height: 600px), (max-width: 905px) {
  .illustration__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90px;
            flex: 0 0 90px; }
  .illustration__comment {
    margin-top: 20px;
    padding-bottom: 0;
    grid-template-rows: auto auto auto; } }
@media (max-width: 1050px) {
  .illustration__image {
    margin: 0 20px 0 0; } }
@media (max-width: 840px) and (min-height: 571px) {
  .illustration__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
            flex: 0 0 80px; } }
@media (max-width: 768px) {
  .illustration__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; } }
@media (max-width: 460px) {
  .illustration__image {
    display: none; } }

.comment__p {
  font-size: 15px;
  line-height: 18px;
  margin: 0;
  display: grid;
  grid-template: 1fr / 1fr;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  position: relative; }
  .comment__p span {
    font-weight: bold; }
  .comment__p:before {
    content: '';
    width: 60px;
    height: 14px;
    position: relative;
    left: -60px;
    top: -14px;
    background: url("../img/line.svg") 0 0/cover no-repeat;
    z-index: -1; }
@media (max-height: 900px) {
  .comment__p {
    font-size: 14px;
    line-height: 16px; } }
@media (max-width: 970px) {
  .comment__p {
    font-size: 14px;
    line-height: 16px; }
    .comment__p:before {
      content: '';
      width: 30px;
      height: 7px;
      left: -30px;
      top: -7px; } }
@media (max-width: 840px), (max-height: 570px) {
  .comment__p:before {
    display: none; } }
@media (max-width: 768px), (max-height: 570px) {
  .comment__p {
    font-size: 15px;
    line-height: 18px;
    margin: 0 0 30px 0; } }

@-webkit-keyframes wrapper {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes wrapper {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes disinfector {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg); } }
@keyframes disinfector {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg); } }
@-webkit-keyframes light {
  from {
    width: 0px;
    background: url("../img/light.png") 182px 50%/0 100% repeat-y; }
  40% {
    width: 282px;
    background: url("../img/light.png") 182px 50%/282px 100% repeat-y; }
  80% {
    width: 282px;
    background: url("../img/light.png") 182px 50%/282px 100% repeat-y; }
  to {
    width: 0;
    background: url("../img/light.png") 182px 50%/0 100% repeat-y; } }
@keyframes light {
  from {
    width: 0px;
    background: url("../img/light.png") 182px 50%/0 100% repeat-y; }
  40% {
    width: 282px;
    background: url("../img/light.png") 182px 50%/282px 100% repeat-y; }
  80% {
    width: 282px;
    background: url("../img/light.png") 182px 50%/282px 100% repeat-y; }
  to {
    width: 0;
    background: url("../img/light.png") 182px 50%/0 100% repeat-y; } }
@-webkit-keyframes virus_1 {
  from {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
    opacity: 1; }
  2% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
    opacity: 1; }
  4% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
    opacity: 1; }
  6% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
    opacity: 1; }
  8% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
    opacity: 1; }
  10% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
    opacity: 1; }
  12% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
    opacity: 1; }
  14% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
    opacity: 1; }
  16% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
    opacity: 1; }
  18% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
    opacity: 1; }
  20% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
    opacity: 1; }
  22% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
    opacity: 1; }
  24% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
    opacity: 1; }
  26% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate(-1000px, 0);
            transform: translate(-1000px, 0);
    opacity: 0; } }
@keyframes virus_1 {
  from {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
    opacity: 1; }
  2% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
    opacity: 1; }
  4% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
    opacity: 1; }
  6% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
    opacity: 1; }
  8% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
    opacity: 1; }
  10% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
    opacity: 1; }
  12% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
    opacity: 1; }
  14% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
    opacity: 1; }
  16% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
    opacity: 1; }
  18% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
    opacity: 1; }
  20% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
    opacity: 1; }
  22% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
    opacity: 1; }
  24% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
    opacity: 1; }
  26% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate(-1000px, 0);
            transform: translate(-1000px, 0);
    opacity: 0; } }
@-webkit-keyframes virus_2 {
  from {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
    opacity: 1; }
  2% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
    opacity: 1; }
  4% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
    opacity: 1; }
  6% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
    opacity: 1; }
  8% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
    opacity: 1; }
  10% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
    opacity: 1; }
  12% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
    opacity: 1; }
  14% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
    opacity: 1; }
  16% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
    opacity: 1; }
  18% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
    opacity: 1; }
  20% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
    opacity: 1; }
  22% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
    opacity: 1; }
  24% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
    opacity: 1; }
  26% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate(1000px, 0);
            transform: translate(1000px, 0);
    opacity: 0; } }
@keyframes virus_2 {
  from {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
    opacity: 1; }
  2% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
    opacity: 1; }
  4% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
    opacity: 1; }
  6% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
    opacity: 1; }
  8% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
    opacity: 1; }
  10% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
    opacity: 1; }
  12% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
    opacity: 1; }
  14% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
    opacity: 1; }
  16% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
    opacity: 1; }
  18% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
    opacity: 1; }
  20% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
    opacity: 1; }
  22% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
    opacity: 1; }
  24% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
    opacity: 1; }
  26% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate(1000px, 0);
            transform: translate(1000px, 0);
    opacity: 0; } }
@-webkit-keyframes virus-cover {
  from {
    z-index: 1; }
  99% {
    z-index: 1; }
  to {
    z-index: -1; } }
@keyframes virus-cover {
  from {
    z-index: 1; }
  99% {
    z-index: 1; }
  to {
    z-index: -1; } }

/*# sourceMappingURL=style.css.map */